
<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
    <head>
        <title>一块投吧 -- 找不到页面了</title>
		<meta name="keywords" content="一块投吧,创投类电视节目,投创类节目,创投节目"/>
		<meta name="description" content="一块投吧，大型创投类节目。" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="wb:webmaster" content="05e98be6944da2b2" />

        <link rel="stylesheet" href="http://yikuaitouba:8889/css/bootstrap-3.3.5-dist/bootstrap.min.css">
        <link rel="stylesheet" href="http://yikuaitouba:8889/css/base.css">
        <style type="text/css">

        #wrapper {
            padding: 40px 20px;
        }
        </style>
    </head>
    <body>
		<div style="text-align: center;">
			<div id="wrapper">
				<p>嗯，页面找不到了，对吧？别着急，重新访问其他页面试试吧。</p>
				<p>我们的节目将于 8 月 14 日起在深圳卫视周日晚黄金档 21:25 播出，记得来看哦 ^_^</p>
				<p>现在先给你看下我们的 Logo 吧：</p>
			</div>
			<img src="http://o7ezmp5vl.bkt.clouddn.com/tv_logo_.jpg" style="width: 256px;">
		</div>
    </body>
</html>
