<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
    <head>
        <title>
            <%block name="title">${APP}</%block>
        </title>
		<meta name="keywords" content="一块投吧,创投类电视节目,投创类节目,创投节目"/>
		<meta name="description" content="一块投吧，大型创投类节目。" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="wb:webmaster" content="05e98be6944da2b2" />

        <link rel="stylesheet" href="${load_css('bootstrap-3.3.5-dist/bootstrap.min.css')}">
        <link rel="stylesheet" href="${load_css('base.css')}">
        <%block name="css">
        </%block>
    </head>
    <body id="top">
        <div>

            ${next.body()}

			<img id="scroll-to-top" src="http://o7ezmp5vl.bkt.clouddn.com/arrow.png" onclick="scroll('top')">


            <script src="${load_js('jquery-2.2.3.min.js')}"></script>
            <script src="${load_js('bootstrap-3.3.5-dist/bootstrap.min.js')}"></script>
            <script src="${load_js('base.js')}"></script>
			<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
            <%block name="js">
            </%block>
			<script>
				var _hmt = _hmt || [];
				(function() {
				var hm = document.createElement("script");
				hm.src = "//hm.baidu.com/hm.js?44e0ec60a0e424a09a3802242ecc7696";
				var s = document.getElementsByTagName("script")[0]; 
				s.parentNode.insertBefore(hm, s);
				})();
			</script>

        </div>
    </body>
</html>
