<%inherit file="_base.html"/>

<%block name="title">一块投吧，不服来弹</%block>
<%block name="css">
    <link rel="stylesheet" href="${load_css('unslider/unslider.css')}">
    <link rel="stylesheet" href="${load_css('unslider/unslider-dots.css')}">
    <link rel="stylesheet" href="${load_css('investor.css')}">
    <link rel="stylesheet" href="${load_css('investors.css')}">
</%block>

<div>
    <div class="my-slider">
        <ul>
            <li style="background:#f1f1f1;">
                <div class="investor-avatar large-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/investors_.png);"> </div>
            </li>
            <li style="background:#e9e9e9;">
                <div class="investor-avatar left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/dengfeng.png);">
					<div class="slides-li-content">
						<div class="name">邓锋</div>
						<div class="title">北极光创投创始人</div>
						<hr>
						<div class="content">
							<p>创业&nbsp是头顶着蓝天</p>
							<p>脚踩着大地</p>
							<p>只要你是对的人&nbsp;输赢我都认了</p>
							<br>

							<p>我是北极光创投&nbsp;<b>邓锋</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li style="background:#f1f1f1;">
                <div class="investor-avatar right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/yuminhong.png);">
					<div class="slides-li-content">
						<div class="name">俞敏洪</div>
						<div class="title">宏泰基金联合创始人</div>
						<hr>
						<div class="content">
							<p>成功没有尽头&nbsp;创业也没有尽头</p>
							<p>我想用我二十多年的创业经历</p>
							<p>和五十多年的人生阅历</p>
							<p>来帮助年轻人创业</p>
							<br>

							<p>我是鸿泰基金&nbsp;<b>俞敏洪</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li style="background:#e9e9e9;">
                <div class="investor-avatar left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/zhangquanling.png);">
					<div class="slides-li-content">
						<div class="name">张泉灵</div>
						<div class="title">紫牛基金联合创始人</div>
						<hr>
						<div class="content">
							<p>创业&nbsp;不是一时的光环</p>
							<p>它是我选择的一种生命状态</p>
							<p>只要有梦想&nbsp;什么时候开始都不晚</p>
							<p>也许我不能抵达&nbsp;但我总是在靠近</p>
							<br>

							<p>我是紫牛基金&nbsp;<b>张泉灵</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li style="background:#f1f1f1;">
                <div class="investor-avatar right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/linyilun.png);">
					<div class="slides-li-content">
						<div class="name">林依轮</div>
						<div class="title">歌手&nbsp;创投人</div>
						<hr>
						<div class="content">
							<p>创业就像是做美食</p>
							<p>急不得&nbsp; 慌不得</p>
							<p>好项目一定要有好伙伴</p>

							<br>

							<p>我是&nbsp;<b>林依轮</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
        </ul>
    </div>
</div>

<%block name="js">
    <script src="${load_js('unslider-min.js')}"></script>
    <script src="${load_js('investors.js')}"></script>
</%block>
