<%inherit file="_base.html"/>

<%block name="title">一块投吧 -- 大型创投类节目</%block>
<%block name="css">
    <link rel="stylesheet" href="${load_css('unslider/unslider.css')}">
    <link rel="stylesheet" href="${load_css('unslider/unslider-dots.css')}">
    <link rel="stylesheet" href="${load_css('investors.css')}">
</%block>

<div>
    <div class="main-slider">
        <ul>
            <li class="odd">
                <div class="investor-avatar container large-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/investors_.png);">
				</div>
				<div class="site-title">
					<span id="title">大型创投类节目《一块投吧》</span>
					<br>
					<span id="subtitle">8 月 14 日 晚 21:25 深圳卫视首播</span>
				</div>
            </li>
            <li class="even">
                <div class="investor-avatar container left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/dengfeng.png);">
					<div class="slides-li-content">
						<div class="name">邓锋</div>
						<div class="title">北极光创投创始人</div>
						<hr>
						<div class="content">
							<p>创业&nbsp;是头顶着蓝天</p>
							<p>脚踩着大地</p>
							<p>只要你是对的人&nbsp;输赢我都认了</p>
							<br>

							<p>我是北极光创投&nbsp;<b>邓锋</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li class="odd">
                <div class="investor-avatar container right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/yuminhong.png);">
					<div class="slides-li-content">
						<div class="name">俞敏洪</div>
						<div class="title">洪泰基金联合创始人</div>
						<hr>
						<div class="content">
							<p>成功没有尽头&nbsp;创业也没有尽头</p>
							<p>我想用我二十多年的创业经历</p>
							<p>和五十多年的人生阅历</p>
							<p>来帮助年轻人创业</p>
							<br>

							<p>我是洪泰基金&nbsp;<b>俞敏洪</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li class="even">
                <div class="investor-avatar container left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/zhangquanling.png); background-size: 433px;">
					<div class="slides-li-content">
						<div class="name">张泉灵</div>
						<div class="title">紫牛基金联合创始人</div>
						<hr>
						<div class="content">
							<p>创业&nbsp;不是一时的光环</p>
							<p>它是我选择的一种生命状态</p>
							<p>只要有梦想&nbsp;什么时候开始都不晚</p>
							<p>也许我不能抵达&nbsp;但我总是在靠近</p>
							<br>

							<p>我是紫牛基金&nbsp;<b>张泉灵</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li class="odd">
                <div class="investor-avatar container right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/linyilun.png);">
					<div class="slides-li-content">
						<div class="name">林依轮</div>
						<div class="title">歌手&nbsp;创投人</div>
						<hr>
						<div class="content">
							<p>创业就像是做美食</p>
							<p>急不得&nbsp; 慌不得</p>
							<p>好项目一定要有好伙伴</p>

							<br>

							<p>我是&nbsp;<b>林依轮</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
        </ul>
    </div>
	<div class="block-head">
		<a id="yikuaitouba"></a>
		节目介绍	
		<hr>
	</div>
	<div id="yikuaitouba">
		<div class="container">
			<p>大型创投类电视节目《一块投吧》由深圳卫视、向日葵传媒、青橙芒果传播联合出品。</p>
			<p>《一块投吧》不仅兼顾传统创投节目讲求专业化、商业化的特点，还开天辟地引入文化、娱乐的元素，打造投融资的新形态。参加节目的导师有俞敏洪、邓锋、张泉灵、林依轮…… 每期登场的投资导师们，将通过专业、财势、颜值、资源、人格魅力等优势，激烈角逐节目中的创业好项目。同时，节目还将运用全新的 T2O（TV to Online）模式，运用移动互联网的优势拉近节目与观众的距离，让全民感受到投资、创业的魅力。</p>
			<p>《一块投吧》将于 8 月 14 日起在深圳卫视周日晚黄金档 21:25 播出，每周一期，共 12 期。</p>
		</div>
	</div>
	<div class="block-head">
		<a id="tv"></a>
		最新节目	
		<hr>
	</div>
	<div id="tv-wrapper">
	<div id="tv">
		&nbsp;	
	</div>
	</div>
	<div class="block-head">
		<a id="investor"></a>
		投资人	
		<hr>
	</div>
	<div>
		<div class="item odd">
			<div class="project-avatar container left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/dengfeng.png?imageMogr2/thumbnail/440x);">
				<div class="row">
					<div class="col-md-2">
						&nbsp;	
					</div>
					<div class="col-md-8 project-list">
						## <ul>
						## 	<li class="item right">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## 	<li class="item right">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## </ul>
					</div>
					<div class="col-md-2 project-counter">
						<div class="title">项目数</div>
						<div class="count">x</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item even">
			<div class="project-avatar container right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/yuminhong.png?imageMogr2/thumbnail/440x);">
				<div class="row">
					<div class="col-md-2 project-counter">
						<div class="title">项目数</div>
						<div class="count">x</div>
					</div>
					<div class="col-md-8 project-list">
						## <ul>
						## 	<li class="item left">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## 	<li class="item left">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## </ul>
					</div>
					<div class="col-md-2">
						&nbsp;	
					</div>
				</div>
			</div>
		</div>
		<div class="item odd">
			<div class="project-avatar container left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/zhangquanling.png?imageMogr2/thumbnail/440x);">
				<div class="row">
					<div class="col-md-2">
						&nbsp;	
					</div>
					<div class="col-md-8 project-list">
						## <ul>
						## 	<li class="item right">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## 	<li class="item right">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## </ul>
					</div>
					<div class="col-md-2 project-counter">
						<div class="title">项目数</div>
						<div class="count">x</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item even">
			<div class="project-avatar container right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/linyilun.png?imageMogr2/thumbnail/440x);">
				<div class="row">
					<div class="col-md-2 project-counter">
						<div class="title">项目数</div>
						<div class="count">x</div>
					</div>
					<div class="col-md-8 project-list">
						## <ul>
						## 	<li class="item left">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## 	<li class="item left">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## </ul>
					</div>
					<div class="col-md-2">
						&nbsp;	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-head">
		<a id="project"></a>
		热抢项目	
		<hr>
	</div>
	<div id="project-wrapper">

	</div>

	<div class="block-head">
		<a id="trends"></a>
		最新动态	
		<hr>
	</div>
    <div class="trends-slider">
        <ul>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000390?imageMogr2/crop/!1024xa0a200);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000384?imageMogr2/crop/!1024xa0a150);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000385?imageMogr2/crop/!1024x530a0a50);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000391?imageMogr2/crop/!1024x533a0a50);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000392?imageMogr2/crop/!1024x530a0a0);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000393?imageMogr2/crop/!1024x530a0a50);"> </div>
            </li>
		</ul>
	</div>
	<div class="block-head">
		<a id="weibo"></a>
		话题讨论
		<hr>
	</div>
	<div id="weibo-wrapper">
		<div class="container">
			<div style="margin: auto; text-align: center;">
			<wb:topic uid="5652890377" topmid="DEtpH4uSR" column="n" border="n" height="1024" tags="%E4%B8%80%E5%9D%97%E6%8A%95%E5%90%A7" language="zh_cn" version="base" appkey="3827905638" refer="y" footbar="y" url="%23" filter="n" ></wb:topic>
			</wb:topic>
			</div>
		</div>
	</div>
</div>

<%block name="js">
    <script src="${load_js('unslider-min.js')}"></script>
    <script src="${load_js('investors.js')}"></script>
</%block>
