<%inherit file="_base.html"/>

<%block name="title">一块投吧 -- 大型创投类节目</%block>
<%block name="css">
    <link rel="stylesheet" href="${load_css('unslider/unslider.css')}">
    <link rel="stylesheet" href="${load_css('unslider/unslider-dots.css')}">
    <link rel="stylesheet" href="${load_css('investors.css')}">
    <link rel="stylesheet" href="${load_js('fancybox/source/jquery.fancybox.css?v=2.1.5')}">
</%block>

<div id='wx_logo' style='display:none;'>
	<img src='http://o7ezmp5vl.bkt.clouddn.com/yikuaitouba_logo.png?imageMogr2/thumbnail/420x420' />
</div>

<div id="mobile">
	<div id="header">
		&nbsp;
	</div>
	<div class="m-large-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/investors_.png);">
		&nbsp;
	</div>
	<div class="m-site-title">
		<span id="title">大型创投类节目《一块投吧》</span>
		<br>
		<span id="subtitle">8 月 14 日 晚 21:25 深圳卫视首播</span>
	</div>
	<div class="m-section odd" style="margin-top: 15px;">
		<div id="logo" class="container">
			<div id="title">一块投吧</div>
			<div id="desc">
				<p>由深圳卫视、向日葵传媒、青橙芒果传播联合出品的大型创投类电视节目，不仅兼顾传统创投节目讲求专业化、商业化的特点，还开天辟地引入文化、娱乐的元素，打造投融资的新形态，运用全新的 T2O（TV to Online）模式，运用移动互联网的优势拉近节目与观众的距离，让全民感受到投资、创业的魅力。</p>
			</div>
		</div>
		
	</div>
	<div class="m-section even" style="padding: 0;">
		<div id="m-tv-wrapper">
			<div id="m-tv">
                <embed src="http://player.youku.com/embed/XMTY4NTAyODQ0NA==" quality="high" style="width: 100%; height: 100%;"align="middle" allowScriptAccess="always"/>

			</div>
		</div>
	</div>
	<div class="m-section even">
		<div class="avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/dengfeng.png?imageMogr2/thumbnail/300x); background-position-x: -15px;">
			&nbsp;
		</div>
		<div class="container text">
			<p>北极光创投&nbsp;<b>邓锋</b> </p>
			<p>创业，是头顶着蓝天，脚踩着大地</p>
			<p>只要你是对的人，输赢我都认了。 </p>
			<p class="slogan"> # 创业路上 我愿与你同行 # </p>
		</div>
	</div>
	<div class="m-section odd">
		<div class="avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/yuminhong.png?imageMogr2/thumbnail/300x);">
			&nbsp;
		</div>
		<div class="container text">
			<p>我是洪泰基金&nbsp;<b>俞敏洪</b> </p>
			<p>成功没有尽头 创业也没有尽头</p>
			<p>我想用我的创业经历来帮助年轻人创业。</p>
			<p class="slogan"> # 创业路上 我愿与你同行 # </p>
		</div>
	</div>
	<div class="m-section even">
		<div class="avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/zhangquanling.png?imageMogr2/thumbnail/300x);background-size: 110px;">
			&nbsp;
		</div>
		<div class="container text">
			<p>紫牛基金&nbsp;<b>张泉灵</b> </p>
			<p>创业，不是一时的光环，它是我选择的一种生命状态。</p>
			<p>只要有梦想，什么时候开始都不晚</p>
			<p>也许我不能抵达，但我总是在靠近。</p>
			<p class="slogan"> # 创业路上 我愿与你同行 # </p>
		</div>
	</div>
	<div class="m-section odd">
		<div class="avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/linyilun.png?imageMogr2/thumbnail/300x); background-position-x: -5px;">
			&nbsp;
		</div>
		<div class="container text">
			<p>我是&nbsp;<b>林依轮</b> </p>
			<p>创业就像是做美食，急不得，慌不得</p>
			<p>好项目一定要有好伙伴。</p>
			<p class="slogan"> # 创业路上 我愿与你同行 # </p>
		</div>
	</div>
	<div class="m-section even" style="background-color: #ccc;">
		<div id="m-project-wrapper">
			<div class="title">热抢项目</div>
            
            <div class="row">
                <div class="col-md-3 item">
                    <div class="row">
                        <div class="col-xs-6 right">
                            <a target="_blank" href="http://comefunding.com/project/projectdetail?id=13">
                                <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/ruofan.png">
                            </a>
                        </div>
                        <div class="col-xs-6 left">
                            <a href="javascript: void(0);">
                                <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/halin.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item">
                    <div class="row">
                        <div class="col-xs-6 right">
                            <a target="_blank" href="http://comefunding.com/project/projectdetail?id=14">
                                <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/ppgun.png">
                            </a>
                        </div>
                        <div class="col-xs-6 left">
                            <a target="_blank" href="http://comefunding.com/project/projectdetail?id=15">
                                <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/anguo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item">
                    <div class="row">
                        <div class="col-xs-6 right">
                            <a target="_blank" href="http://comefunding.com/project/projectdetail?id=18">
                                <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/wangdajiang.png">
                            </a>
                        </div>
                        <div class="col-xs-6 left">
                            <a target="_blank" href="http://comefunding.com/project/projectdetail?id=28">
                                <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/diaoweikou_.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item">
                    <div class="row">
                        <div class="col-xs-6 right">
                            <a target="_blank" href="http://comefunding.com/project/projectdetail?id=12">
                                <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/kisslover.png">
                            </a>
                        </div>
                        <div class="col-xs-6 left">
                            <a target="_blank" href="http://comefunding.com/project/projectdetail?id=29">
                                <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/haijunxiong.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div class="m-section odd" style="padding: 0;">

		<div id="m-trends">
			<div class="title">最新动态</div>
			<div class="item" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000390);"> </div>
			<div class="item" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000384);"> </div>
			<div class="item" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000385);"> </div>
			<div class="item" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000391);"> </div>
			<div class="item" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000392);"> </div>
			<div class="item" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000393);"> </div>
		</div>
	</div>
	<div id="m-footer">
		<div class="row">
			<div class="col-md-4 item">
				<a href="tel:010-53672297">010-53672297</a>
				&nbsp;
				<a href="tel:010-53347235">010-53347235</a>
			</div>
			<div class="col-md-4 item">
				2016 深圳一块投吧文化科技有限公司
			</div>
			<div class="col-md-4 item">
                <a href="http://www.miitbeian.gov.cn/" target="_blank">粤 ICP 备 16060181 号</a>
			</div>

		</div>
	</div>
</div>


<div id="pc">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				##<a class="navbar-brand" href="/" title="一块投吧">
				## 	<img src="http://o7ezmp5vl.bkt.clouddn.com/yikuaitouba_logo.png?imageMogr2/thumbnail/200x" width="60"/>
				##</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<div class="row">
					<div class="col-md-4">
						<ul class="nav navbar-nav">
							## <li class="active"><a href="/">投资人</a></li>
							<li><a href="javascript: scroll('yikuaitouba');">节目介绍</a></li>
							<li><a href="javascript: scroll('tv_');">最新节目</a></li>
							<li><a href="javascript: scroll('investor');">投资人</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<a href="/" title="一块投吧">
							<div id="logo">
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="javascript: scroll('project');">热抢项目</a></li>
							<li><a href="javascript: scroll('trends');">最新动态</a></li>
							<li><a href="javascript: scroll('weibo');">话题讨论</a></li>
						</ul>
					</div>
				</div>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
    <div class="main-slider">
        <ul>
            <li class="odd">
                <div class="investor-avatar container large-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/investors_.png);">
				</div>
				<div class="site-title">
					<span id="title">大型创投类节目《一块投吧》</span>
					<br>
					<span id="subtitle">8 月 14 日 晚 21:25 深圳卫视首播</span>
				</div>
            </li>
            <li class="even">
                <div class="investor-avatar container left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/dengfeng.png);">
					<div class="slides-li-content">
						<div class="name">邓锋</div>
						<div class="title">北极光创投创始人</div>
						<hr>
						<div class="content">
							<p>创业&nbsp;是头顶着蓝天</p>
							<p>脚踩着大地</p>
							<p>只要你是对的人&nbsp;输赢我都认了</p>
							<br>

							<p>我是北极光创投&nbsp;<b>邓锋</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li class="odd">
                <div class="investor-avatar container right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/yuminhong.png);">
					<div class="slides-li-content">
						<div class="name">俞敏洪</div>
						<div class="title">洪泰基金联合创始人</div>
						<hr>
						<div class="content">
							<p>成功没有尽头&nbsp;创业也没有尽头</p>
							<p>我想用我二十多年的创业经历</p>
							<p>和五十多年的人生阅历</p>
							<p>来帮助年轻人创业</p>
							<br>

							<p>我是洪泰基金&nbsp;<b>俞敏洪</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li class="even">
                <div class="investor-avatar container left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/zhangquanling.png); background-size: 433px;">
					<div class="slides-li-content">
						<div class="name">张泉灵</div>
						<div class="title">紫牛基金联合创始人</div>
						<hr>
						<div class="content">
							<p>创业&nbsp;不是一时的光环</p>
							<p>它是我选择的一种生命状态</p>
							<p>只要有梦想&nbsp;什么时候开始都不晚</p>
							<p>也许我不能抵达&nbsp;但我总是在靠近</p>
							<br>

							<p>我是紫牛基金&nbsp;<b>张泉灵</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
            <li class="odd">
                <div class="investor-avatar container right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/linyilun.png);">
					<div class="slides-li-content">
						<div class="name">林依轮</div>
						<div class="title">歌手&nbsp;创投人</div>
						<hr>
						<div class="content">
							<p>创业就像是做美食</p>
							<p>急不得&nbsp; 慌不得</p>
							<p>好项目一定要有好伙伴</p>

							<br>

							<p>我是&nbsp;<b>林依轮</b></p>
							<p># 创业路上&nbsp;我愿与你同行 #</p>
						</div>
					</div>
                </div>
            </li>
        </ul>
    </div>
	<div class="block-head">
		<a id="yikuaitouba"></a>
		节目介绍	
		<hr>
	</div>
	<div id="yikuaitouba">
		<div class="container">
			<p>大型创投类电视节目《一块投吧》由深圳卫视、向日葵传媒、青橙芒果传播联合出品。</p>
			<p>《一块投吧》不仅兼顾传统创投节目讲求专业化、商业化的特点，还开天辟地引入文化、娱乐的元素，打造投融资的新形态。参加节目的导师有俞敏洪、邓锋、张泉灵、林依轮…… 每期登场的投资导师们，将通过专业、财势、颜值、资源、人格魅力等优势，激烈角逐节目中的创业好项目。同时，节目还将运用全新的 T2O（TV to Online）模式，运用移动互联网的优势拉近节目与观众的距离，让全民感受到投资、创业的魅力。</p>
			<p>《一块投吧》将于 8 月 14 日起在深圳卫视周日晚黄金档 21:25 播出，每周一期，共 12 期。</p>
		</div>
	</div>
	<div class="block-head">
		<a id="tv_"></a>
		最新节目	
		<hr>
	</div>
	<div id="tv-wrapper">
		<div id="tv">
            <a id="play" class="fancybox" title="创业路上 我愿与你相伴！" href="http://static.youku.com/v1.0.0646/v/swf/loader.swf?VideoIDS=XMTY4NTAyODQ0NA%3D%3D&winType=BDskin&embedid=MTc1LjI1LjI1LjE3AjQyMTI1NzExMQIC&wd=&partnerid=0edbfd2e4fc91b72&vext=pid%3D0edbfd2e4fc91b72%26emb%3DMTc1LjI1LjI1LjE3AjQyMTI1NzExMQIC%26bc%3D%26cna%3DpD14D7OBrhMCAXbHyC4VY7AC%26type%3D0%26embsig%3D1_1471225827_002eb8a119abac7d428484d623d9d8a9&isAutoPlay=true"></a>
		</div>
	</div>
	<div class="block-head">
		<a id="investor"></a>
		投资人	
		<hr>
	</div>
	<div>
		<div class="item odd">
			<div class="project-avatar container left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/dengfeng.png?imageMogr2/thumbnail/440x);">
				<div class="row">
					<div class="col-md-2">
						&nbsp;	
					</div>
					<div class="col-md-8 project-list">
						## <ul>
						## 	<li class="item right">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## 	<li class="item right">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## </ul>
					</div>
					<div class="col-md-2 project-counter">
						<div class="title">项目数</div>
						<div class="count">0</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item even">
			<div class="project-avatar container right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/yuminhong.png?imageMogr2/thumbnail/440x);">
				<div class="row">
					<div class="col-md-2 project-counter">
						<div class="title">项目数</div>
						<div class="count">0</div>
					</div>
					<div class="col-md-8 project-list">
						## <ul>
						## 	<li class="item left">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## 	<li class="item left">
						## 		<a href="#">
						## 			<img src="http://www.show1.cn/templets/xingk/images/logo.png">
						## 		</a>
						## 	</li>
						## </ul>
					</div>
					<div class="col-md-2">
						&nbsp;	
					</div>
				</div>
			</div>
		</div>
		<div class="item odd">
			<div class="project-avatar container left-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/zhangquanling.png?imageMogr2/thumbnail/440x);">
				<div class="row">
					<div class="col-md-2">
						&nbsp;	
					</div>
					<div class="col-md-8 project-list" style="background: none;">
						<ul>
							<li class="item right">
								<a href="javascript: void(0);">
									<img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/halin.png">
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-2 project-counter">
						<div class="title">项目数</div>
						<div class="count">1</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item even">
			<div class="project-avatar container right-avatar" style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/linyilun.png?imageMogr2/thumbnail/440x);">
				<div class="row">
					<div class="col-md-2 project-counter">
						<div class="title">项目数</div>
						<div class="count">0</div>
					</div>
					<div class="col-md-8 project-list">
					## <div class="col-md-8 project-list" style="background: none;">
						## <ul>
						## 	<li class="item left">
                        ##         <a target="_blank" href="http://comefunding.com/project/projectdetail?id=28">
                        ##             <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/diaoweikou_.png" width="150">
						## 		</a>
                        ##     </li>
                        ##     <li style="line-height: 65px;">
                        ##         <a target="_blank" href="http://comefunding.com/project/projectdetail?id=12">
                        ##             <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/kisslover.png" width="150">
						## 		</a>
						## 	</li>
						## </ul>
					</div>
					<div class="col-md-2">
						&nbsp;	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-head">
		<a id="project"></a>
		热抢项目	
		<hr>
	</div>
	<div id="project-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 item">
                    <a target="_blank" href="http://comefunding.com/project/projectdetail?id=13">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/ruofan.png">
                    </a>
                </div>
                <div class="col-md-3 item">
                    <a href="javascript: void(0);">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/halin.png">
                    </a>
                </div>
                <div class="col-md-3 item">
                    <a target="_blank" href="http://comefunding.com/project/projectdetail?id=14">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/ppgun.png">
                    </a>
                </div>
                <div class="col-md-3 item">
                    <a target="_blank" href="http://comefunding.com/project/projectdetail?id=15">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/1/anguo.png">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 item">
                    <a target="_blank" href="http://comefunding.com/project/projectdetail?id=18">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/wangdajiang.png">
                    </a>
                </div>
                <div class="col-md-3 item">
                    <a target="_blank" href="http://comefunding.com/project/projectdetail?id=28">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/diaoweikou_.png">
                    </a>
                </div>
                <div class="col-md-3 item">
                    <a target="_blank" href="http://comefunding.com/project/projectdetail?id=12">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/kisslover.png">
                    </a>
                </div>
                <div class="col-md-3 item">
                    <a target="_blank" href="http://comefunding.com/project/projectdetail?id=29">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/program/logo/2/haijunxiong.png">
                    </a>
                </div>
            </div>
        </div>
	</div>

	<div class="block-head">
		<a id="trends"></a>
		最新动态	
		<hr>
	</div>
    <div class="trends-slider">
        <ul>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000390?imageMogr2/crop/!1024xa0a200);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000384?imageMogr2/crop/!1024xa0a150);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000385?imageMogr2/crop/!1024x530a0a50);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000391?imageMogr2/crop/!1024x533a0a50);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000392?imageMogr2/crop/!1024x530a0a0);"> </div>
            </li>
            <li class="item">
                <div class="large-avatar container" style="background-image: url(http://7xk1xj.com1.z0.glb.clouddn.com/10000393?imageMogr2/crop/!1024x530a0a50);"> </div>
            </li>
		</ul>
	</div>
	<div class="block-head">
		<a id="weibo"></a>
		话题讨论
		<hr>
	</div>
	<div id="weibo-wrapper">
		<div class="container">
			<div style="margin: auto; text-align: center;">
			<wb:topic uid="5652890377" topmid="DEtpH4uSR" column="n" border="n" height="1024" tags="%E4%B8%80%E5%9D%97%E6%8A%95%E5%90%A7" language="zh_cn" version="base" appkey="3827905638" refer="y" footbar="y" url="%23" filter="n" ></wb:topic>
			</wb:topic>
			</div>
		</div>
	</div>
	<div style="background-color: #fff;">
        <div class="block-head" style="background-color: #fff;">
            <a id=""></a>
                特别鸣谢
            <hr style="margin-bottom: 50px;">
        </div>
        <div id="sponsor">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 item">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/sponsor/logo/zhenrongbao.png">
                    </div>
                    <div class="col-md-3 item">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/sponsor/logo/kaltendin.png" style="height: 47px; width: auto;">
                    </div>
                    <div class="col-md-3 item">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/sponsor/logo/dongpeng.png">
                    </div>
                    <div class="col-md-3 item">
                        <img src="http://o7ezmp5vl.bkt.clouddn.com/sponsor/logo/meizu.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-9 item">
					<p>
						<a href="/">首页</a>&nbsp;&nbsp;
						<a href="http://form.mikecrm.com/f.php?t=AFbKox" target="_blank">在线报名</a>&nbsp;&nbsp;
						<a href="http://xrkmedia.com" target="_blank">向日葵传媒</a>&nbsp;&nbsp;
						<a href="http://comefunding.com" target="_blank">平台</a>
					</p>
                    <p id="copyright">&copy; 2016 深圳一块投吧文化科技有限公司&nbsp;&nbsp; <a href="http://www.miitbeian.gov.cn/" target="_blank">粤 ICP 备 16060181 号</a> </p>
				</div>
				<div class="col-md-2 item" id="tel">
					<p>010-53672297</p>
					<p>010-53347235</p>
				</div>
				<div class="col-md-1 right">
					<img src="http://o7ezmp5vl.bkt.clouddn.com/yikuaitouba_qr.jpg" width="64">
				</div>
			</div>
		</div>
	</div>
</div>

<%block name="js">
    <script src="${load_js('fancybox/source/jquery.fancybox.pack.js?v=2.1.5')}"></script>
    <script src="${load_js('unslider-min.js')}"></script>
    <script src="${load_js('investors.js')}"></script>
</%block>
