<html>
    <head>
        <title></title>
    </head>
    <body>
        <div style="width: 100%">
            <div style="background-image: url(http://o7ezmp5vl.bkt.clouddn.com/jiemu.png);
                background-color: #000;
                background-size: 1280px auto;
                background-repeat: no-repeat;
                background-position: center;
                
                text-align: center;
                height: 357px;">
                <a href="http://baidu.com" style="text-decoration: none; color: #fff;" target="_blank">
                    <div style='background-color: rgba(52, 52, 52, 0.6); 
                        font-family: "Helvetica Neue", "Helvetica", "Roboto Condensed", "Microsoft Yahei", "Arial", "Verdana", "sans-serif";
                        -webkit-font-smoothing: antialiased;
                        font-weight: 200;
                        height: 357px;'>
                        <p style="padding-top: 120px; font-size: 40px; margin: 0;">等待密室开启</p>
                        <p style="font-size: 18px; margin: 10px auto;">《一块投吧》 · 8 月 14 日 21:25 深圳卫视</p>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>
