<%inherit file="_base.html"/>
<%block name="css">
    <link rel="stylesheet" href="${load_css('index.css')}">
</%block>
<div>
    iPhone from Apple<br>
    ￥<span id="amount">5999</span><br>
    <hr>
    在线支付&nbsp;
    <a href="javascript: void(0);" id="alipay-pc">
		<img src="http://ax.xrkmedia.com/file/alipay_logo/182x64.png" height="35">
	</a>
	<br>
    手机支付&nbsp;
    <a href="javascript: void(0);" id="alipay-mobile">
		<img src="http://ax.xrkmedia.com/file/alipay_logo/182x64.png" height="35">
	</a>
</div>

<%block name="js">
    <script src="${load_js('pay.js')}"></script>
    <script src="${load_js('pingpp/pingpp-pc.js')}"></script>
    <script src="${load_js('pingpp/pingpp.js')}"></script>
</%block>
