/********** 重写 bootstrap ***************/

.navbar {
	margin-bottom: 0;
}

.nav.navbar-nav{
    font-size: 18px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ffe430;
    background: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffe430;
}

.navbar-fixed-top {
    position: relative;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/********** 重写 bootstrap ***************/

a {
    text-decoration: none;
}

.main-slider, .odd, .even{
	border-bottom: 1px solid #ddd;
}

.odd {
	background: #f1f1f1;
}

.even {
	background:#e9e9e9;
}

#logo {
    background-image: url(http://o7ezmp5vl.bkt.clouddn.com/yikuaitouba_logo.png?imageMogr2/thumbnail/140x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    height: 60px;
    margin: auto;
    margin-top: 10px;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}

#logo:hover {
    height: 70px;
    background-size: 70px;
    margin-top: 6px;
    transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}
.slides {
    height: 610px;
}

.investor-avatar {
    height: 610px;
	width: 1280px;
    background-repeat: no-repeat;
    background-position: left center;
	background-size: 512px;
	margin: auto;
}

.investor-avatar.large-avatar {
    background-size: cover;
    background-position: center 25px;
}

.investor-avatar.left-avatar {
    background-position: left 45px;
}

.investor-avatar.right-avatar {
    background-position: right 45px;
}

.investor-avatar.left-avatar .slides-li-content {
	padding-left: 782px;
    padding-top: 154px;
}

.investor-avatar.right-avatar .slides-li-content {
	float: right;
	padding-right: 782px;
    padding-top: 154px;
}

.investor-avatar .slides-li-content hr{
    margin: 40px 0 43px 0;
    border: solid 2px #3EC9A7;
    width: 33px;
}

.investor-avatar .slides-li-content .name {
	font-size: 33px;
	font-weight: bold;
}

.investor-avatar .slides-li-content .title{
	font-size: 25px;
}

.investor-avatar .slides-li-content .content{
	margin-top: 20px;
}

.investor-avatar .slides-li-content .content p{
	font-size: 20px;
}

.project-avatar{
	height: 200px;
    background-repeat: no-repeat;
	background-size: 220px;
	cursor: pointer;
	padding: 50px 0 0 20px;
}

.project-avatar.left-avatar {
    background-position: left 40px;
	text-align: right;
		    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
}

.project-avatar.left-avatar:hover {
    background-position: left 28px;

		    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
}

.project-avatar.right-avatar {
    background-position: right 40px;
	text-align: left;
		    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
}

.project-avatar.right-avatar:hover {
    background-position: right 28px;
		    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
}

.project-list {
	background-image: url(http://o7ezmp5vl.bkt.clouddn.com/comingsoon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100px;
    height: 120px;
}

.project-list ul{
	list-style: none;
}

.project-list ul li.item{
	margin: 0 15px 15px 0;
}

.project-list ul li.item.right{
	float: right;
}

.project-list ul li.item.left{
	float: left;
}

.project-counter .title{
	font-size: 20px;
	text-align: center;
}

.project-counter .count{
	font-size: 70px;
	text-align: center;
}

.site-title {
	text-align: center;
	margin-top: -170px;
    background: rgba(52, 52, 52, 0.4);
    color: #fff;
    padding: 13px;
}

.site-title #title{
	font-size: 42px;
}

.site-title #subtitle{
	font-size: 22px;
}

.block-head {
	font-size: 33px;
	padding: 35px 10px 5px 10px;
	text-align: center;
}

.block-head hr{
    border: solid 1px #3EC9A7;
    width: 33px;
}
