<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        后台管理 - 
        <%block name="title">
        </%block>
    </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="${load_css('bootstrap-3.3.5-dist/bootstrap.min.css')}">

    <!-- MetisMenu CSS -->
    <link href="${load_css('metisMenu.min.css')}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="${load_css('sb-admin-2.min.css')}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="${load_css('font-awesome/css/font-awesome.min.css')}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%block name="css">
    </%block>

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">一块投吧 后台</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="javascript: void(0);"><i class="fa fa-user fa-fw"></i> ${current_user.name}</a>
                        </li>
                        ## <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        ## </li>
                        <li class="divider"></li>
                        <li><a href="/admin/logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href=""><i class="fa fa-tasks fa-fw"></i> 项目管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/admin/index"><i class="fa fa-list-alt fa-fw"></i> 添加项目</a>
                                </li>
                                <li>
                                    <a href="/admin/project-list"><i class="fa fa-list fa-fw"></i> 项目列表</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/admin/video-mgr"><i class="fa fa-video-camera fa-fw"></i> 节目视频管理</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
        ${next.body()} 
        </div>
        <!-- /#page-wrapper -->

    </div>
    <script src="${load_js('jquery-2.2.3.min.js')}"></script>
    <script src="${load_js('bootstrap-3.3.5-dist/bootstrap.min.js')}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="${load_js('metisMenu.min.js')}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="${load_js('sb-admin-2.min.js')}"></script>
    <%block name="js">
    </%block>

</body>

</html>
